@import url(reset.css);
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

font-family: "Libre Caslon Text", serif;
font-weight: 700;
font-style: normal;

header .nav{
    color:#F5F5F5;
    display:absolute;
    left:0;
    top:0;
}
header .nav .main{
    color:#F5F5F5;
    display:relative;
    background-image: url(img/);

}

header .nav .main .desc{
    display:block;
    transform: 1227px, 511px;
}

header .nav ul{
    display: flex;
}

header .nav .sns{
    display: flex;
}



.eventbox{
    width:442px;
    height:650px;
    border-radius: 10px;
    background: yellow;
}

footer .sitemap ul{
    display: flex;
    align-items: center;

}
footer .copyright{
    text-align:center;
}

header {
    position:relative;
}

.content .bg{
    background-image: url("../img/main_fixed_bg.png");
    position: absolute;
    width : 1920px;
    height: 1080px;
    


}