@import url(reset.css);
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

font-family: "Libre Caslon Text", serif;
font-weight: 700;
font-style: normal;

header .nav{
    color:#F5F5F5;
    display:relative;

}
header .nav .main{
    color:#F5F5F5;
    display:fixed;
    background-image: url(img/);

}

header .nav .main .desc{
    display:block;
    transform: 1227px, 511px;
    font-size: 48px;
}

header .nav ul, header .nav .sns{
    display: flex;
}


.eventbox{
    width:442px;
    height:650px;
    border-radius: 10px;
    background: yellow;
}

footer .sitemap ul{
    display: flex;
    align-items: center;

}
footer .copyright{
    text-align:center;
}

header {
    position:relative;
    background-image: url("../img/main_fixed_bg.png");
    width : 1920px;
    height: 1080px;
    object-fit: 100%;
}

.nav {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.nav .menu:hover{
    background-color: #000;
    opacity: .1    ;

    
}
.nav .menu li{
    justify-content: space-between;
    background-color: transparent;
    
}



.nav .menu li, .nav .menu li .menu_s{
    flex-direction:column;
    padding:5px;
    align-items: center;
    text-align: center;


}

.content .bg{
    position:relative;

}


.content .desc {
    position:absolute;
    right: 700px;
    bottom: 700px;
}

.event{
    display: flex;
}
h2 {
    padding: 10px;
}