@import url(reset.css);
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');
:root{
    --main-color:#292626;
    --sub-color:#5C4949;
    --back-color1:#F9E6CB;
    --back-color2:#FEF7E7;
    --menu-color:#F5F5F5;
    --point-color_1:#8E8910;
    --point-color_2:#F9FFB7;
    --font-kalam: "Kalam", san-serif;
    --font-roboto: "Roboto", serif;
    --font-libre: "libre Caslon text", san-serif;
    --font-noto: "Noto Sans KR", sans-serif;
}
body {overflow-x: hidden;
        overflow-y:scroll;}
main{
    margin: auto 5%;
    background-color: var(--back-color2);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='2%2c4%2c6%2c8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    box-sizing: border-box;
    text-align: center;
    border-color:#000;
    /* position:relative; */
}

h2 {
    text-align: center;
    font-family: var(--font-noto);
    font-weight:bold;
    font-size: 32px;
    display:block;
    width: 100%;
    margin-bottom:75px;
}
/*section*/
.event, .recom_menu, .franchise, .map{
    padding-top: 175px;
}

main .fix_img{
    position:relative;
}

main .fix_img.img1{
    position: absolute;
    object-fit: cover;    
    transform: translate(1376.22px, 896px) rotate(14.25deg);
}

main .fix_img.img2{
    position:absolute;
    transform: translate(-80px, 1699px) rotate(-11.73deg) scaleX(-1);
    object-fit: cover;
}
main .fix_img.img3{
    position:absolute;
    transform: translate(1419px, 2347px) rotate(-6.78deg);
    object-fit: cover;
}
main .fix_img.img4{
    position:absolute;
    transform: translate(-80px, 3083px) rotate(-5.17deg) scaleX(-1);
    object-fit: cover;
}


/*HEADER*/

nav > ul {display:flex; justify-content:center; gap: 50px;}

ul li {list-style:none;}

header {	
	background:transparent;
	height:100px; 
	transition:height 0.5s;
	overflow:hidden;
    position:fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    
}

header:hover{
    background: rgba(0, 0, 0, 0.2);
}

nav {
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;}


nav > .menu{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: auto;
    font-weight: bold;
    font-size:25px;
    transition:height 0.5s;
    background:linear-gradient(transparent);
}
header nav .menu *{
    background-color: transparent;
    text-decoration: none;
    color: #F5F5F5;
    
}
header >nav> .menu > li {
    display: flex;
    justify-content: flex-start;
    line-height:50px;
    
}
header >nav> .menu > li > a{
    line-height:80px;   
}

nav .menu li{
    flex-direction:column;
    padding:5px;
    align-items: center;
    text-align: center;
} 

nav .menu li .menu_s{
    font-size: 22px;
}

nav .sns{
    display: flex;
}
.content.bg {
    background-image: url("https://sjpark07.github.io/site/img/main_fixed_bg.png");
    width : 100%;
    height: 100vh;
    object-fit: cover;
	z-index:-1;
}
.content.desc {
    position:absolute;
    left: 1227px;
    top: 600px;
    display:block;
    font-family: var(--font-noto);
    color:var(--sub-color);
    font-weight:bolder;
    font-size: 25px;
    width: 627px;
    height: 77px;
    animation-duration: 1s;
    animation-name: slidein_2;
  }

  @keyframes slidein_2 {
    from {
      margin-left: 10%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } 
  
/*LOGO_IMG & DESC*/
h1 a{
    display: block;
    background-image: url("../img/dessert39_logo2_gra_3_icon_s.png");
    width: 65px;
    height: 100px;
    top:0;
    left :50px;
    bottom: auto;
    right: 50px;
    text-indent: -9999em;
    overflow: hidden;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 7px 7px rgba(142, 137, 16, 0.78));
}


header .fixed {
    position: sticky;
    color:#F5F5F5;
    background: rgba(0, 0, 0, 1);
}
/* EVENT & NEWS */

.container{
	width: 1256px;
	margin:0 auto;
    height: 650px;
}

.slide_wrapper{
	position: relative;
	width:1256px;
	margin: 0 auto;
	
	overflow:hidden;
}
.slides{
	height:650px;
	width:100%;
	display: flex;
	gap:20px;
	left: 0;
	position: relative;	
    
}
.slides.animated{
	transition:left 0.5s;
}

.slides li{
	width: 392px;
	height: 650px;
	border-radius: 20px;
    background: var(--point-color_2);
    margin: 26px 20px;
    font-family: var(--font-noto);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    display: inline-block;
}


.slides li img{
    display:flex;
    width: 100%;
    height:600px;
    border-radius: 20px;
    flex-wrap: nowrap;
    text-transform: inherit;
    top:0;
}

 
.eventbox{
    width:392px;
    height:650px;
    border-radius: 20px;
    background: var(--point-color_2);
    /* margin: 30px 30px; */
    font-family: var(--font-noto);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    display: inline-block;
 
    
}
.eventbox a img{
    display:flex;
    border-radius: 20px;
    flex-wrap: nowrap;
    text-transform: inherit;
    top:0;
    object-fit: cover;
}
.eventbox a {
    color:#322020;
    text-decoration: none;
}
.more a{
    display: block;
    width: 159px;
    text-align: center;
    border-radius: 70px ;
    background-color: #F5D9AF;
    color:var(--main-color);
    font-weight: bold;
    font-size: 24px;
    padding: auto;
    margin: auto;
    line-height: 50px;
    text-decoration: none;
}

.controls .prev{
    position:absolute;
    top: 50%;
    left: -1000px;
    color:#8a8a8a;
}
.controls .next{
    position:absolute;
    top: 50%;
    right: -1000px;
    color:#8a8a8a;
}

.controls {
    position: relative;
}

/* RECOMMEND */

.slide_container_be{
display: flex;
}

.beverage, .dessert{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.slide_wrapper_ds, .slide_wrapper_be{
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 20px;
    font-family: var(--font-noto);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px #000;
}

.recom_menu .beverage .be_menu .be_menu_s{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    background-color: #000;
}
.recom_menu .dessert{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.be *, .ds *{
    width:394px;
    height:526px;
    border-radius: 20px;
    margin: 26px 13px 26px;
    font-family: var(--font-noto);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    background-color: white;
}

.be_menu, .ds_menu{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

s.be_menu_s{
    width: 100px;
    height: 100px;
    display: flex;
    white-space: nowrap;
    margin: auto;
}
.be3, .be4{
    display:none;
}
.ds3, .ds4{
    display:none;
    }

.be_menu_s a img, .ds_menu_s a img{
        width: 100%;
        height: 100%;
        display: flex;
        white-space: nowrap;
        margin: auto;
        background-size: contain;
        background-color: #000;  
    }  
/*FRANCHISE*/


/*MAP*/

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/*FOOTER*/
footer .sitemap ul{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;

}
footer .copyright{
    text-align:center;
}


footer .sitemap{
    display: flex;
    justify-content: center;
    font-weight: bold;
    gap:100px;
    text-align: center;
}
.sitemap{
    padding-top: 25px;
    padding-bottom: 50px;
}

.sitemap dt *{
    font-size:15px;
    line-height: 25px;
    text-decoration: none;
    font-family: var(--font-noto);
    color:#51433B;
}

.sitemap dd *{
    font-size:12px;
    line-height: 25px;
    text-decoration: none;
    font-family: var(--font-noto);
    color:#51433B;

}
footer .sitemap, .copyright{
    background-color: var(--back-color1);
    margin: auto 5%;
    color:#292626;
    font-family: var(--font-noto);
    font-size:15px;
    line-height: 25px;
}
.copyright:after{
    content:'';
    display:block;
    height:20px;
    background: #8E8910;
    opacity: 85%;
}